@import "tailwindcss";
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: white;
  color:rgb(28, 28, 28)
}
@layer base {
    :root {
      --color-expedify-gold: #f5b301;
      --color-expedify-dark: #3b3516;
    }
  }
  